<!doctype html>
<html lang="en">
<head>
  <title>MCF10A Dense Data Cube</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css">

  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    {% include "partials/header.html"%}
  <div class="container">
        <div class="masonry-container"> <!-- beginning of .masonry-container -->
        
          <div class="grid-item"><!-- beginning of Trametinib assay tile -->
            <div class="tile">
              <div class="tile-title">Trametinib</div>
              <div class="tile-description">
                (MEK) <br>
                BRD-K12343256
              </div>
              <div class="data-table">
                <div class="title">data</div>
                <table style="width:100%">
                  <tr>
                    <td class="file-name" width="50%">GR metrics</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">P100 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">GCP - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> <!-- end of Trametinib assay tile -->

          <div class="grid-item"><!-- beginning of Alpelisib assay tile -->
            <div class="tile">
              <div class="tile-title">Alpelisib</div>
              <div class="tile-description">
                (PIK3CA) <br>
                BRD-K54997624
              </div>
              <div class="data-table">
                <div class="title">data</div>
                <table style="width:100%">
                  <tr>
                    <td class="file-name" width="50%">GR metrics</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">P100 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">GCP - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> <!-- end of Alpelisib assay tile -->

          <div class="grid-item"><!-- beginning of Vorinostat assay tile -->
            <div class="tile">
              <div class="tile-title">Vorinostat</div>
              <div class="tile-description">
                (HDAC) <br>
                BRD-K81418486
              </div>
              <div class="data-table">
                <div class="title">data</div>
                <table style="width:100%">
                  <tr>
                    <td class="file-name" width="50%">GR metrics</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">P100 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">GCP - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> <!-- end of Vorinostat assay tile -->

          <div class="grid-item"><!-- beginning of Palbociclib assay tile -->
            <div class="tile">
              <div class="tile-title">Palbociclib</div>
              <div class="tile-description">
                (CDK4/6K) <br>
                BRD-K51313569
              </div>
              <div class="data-table">
                <div class="title">data</div>
                <table style="width:100%">
                  <tr>
                    <td class="file-name" width="50%">GR metrics</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">P100 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">GCP - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> <!-- end of Palbociclib assay tile -->

          <div class="grid-item"><!-- beginning of Neratinib assay tile -->
            <div class="tile">
              <div class="tile-title">Neratinib</div>
              <div class="tile-description">
                (HER2/EGFR) <br>
                BRD-K85606544
              </div>
              <div class="data-table">
                <div class="title">data</div>
                <table style="width:100%">
                  <tr>
                    <td class="file-name" width="50%">GR metrics</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">P100 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">GCP - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> <!-- end of Neratinib assay tile -->

          <div class="grid-item"><!-- beginning of Paclitaxel assay tile -->
            <div class="tile">
              <div class="tile-title">Paclitaxel</div>
              <div class="tile-description">
                (microtubules) <br>
                BRD-A99265323
              </div>
              <div class="data-table">
                <div class="title">data</div>
                <table style="width:100%">
                  <tr>
                    <td class="file-name" width="50%">GR metrics</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">P100 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">GCP - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> <!-- end of Paclitaxel assay tile -->

          <div class="grid-item"><!-- beginning of Etoposide assay tile -->
            <div class="tile">
              <div class="tile-title">Etoposide</div>
              <div class="tile-description">
                (topoisomerase) <br>
                BRD-K37798499
              </div>
              <div class="data-table">
                <div class="title">data</div>
                <table style="width:100%">
                  <tr>
                    <td class="file-name" width="50%">GR metrics</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">P100 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">GCP - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> <!-- end of Etoposide assay tile -->

          <div class="grid-item"><!-- beginning of Dasatinib assay tile -->
            <div class="tile">
              <div class="tile-title">Dasatinib</div>
              <div class="tile-description">
                (BCR/ABL) <br>
                BRD-K49328571
              </div>
              <div class="data-table">
                <div class="title">data</div>
                <table style="width:100%">
                  <tr>
                    <td class="file-name" width="50%">GR metrics</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">L1000 - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">P100 - 3h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                  <tr>
                    <td class="file-name" width="50%">GCP - 24h</td>
                    <td width="25%">download</td>
                    <td width="25%">details</td>
                  </tr>
                </table>
              </div>
            </div>
          </div> <!-- end of Dasatinib assay tile -->
        </div> <!-- end of .masonry-container -->

  </div> <!-- /.container -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
  <script src="static/js/index.js"></script>
</body>
</html>