<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <title>Testing D3</title>
</head>

<style>
  .title { 
    position: absolute;
    top: 10px;        
    /*width: 60px;          
    height: 28px;*/         
    padding: 2px;       
    font-size: 0.8em; 
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    /*border: 0px;  */  
    border-radius: 2px;     
    pointer-events: none;     
  }

</style>

<body>

  <div id="option-time"></div>
  <div id="option-dose"></div>
  <svg><circle cx="70" cy="70" r="70" stroke="black" fill="none" />
    <circle cx="70" cy="70" r="35" stroke="black" fill="none" />
    <text x="45" y="70">nucleus</text>
    <text x="45" y="30">cytosol</text></svg>
<!--   <svg width="700" height="220">
      <circle cx="300" cy="110" r="70" fill="red" />
    <g transform="translate(300, 110)" id="abc"></g>

  </svg>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script>

  var time, dose, comp;
  var results;
  var timeButtons, doseButtons;
  var svgContainer1, svgContainer2;
  var cycif_cyt = new Array(21);
  var cycif_nuc = new Array(21);
  var lookup = new Array(21);
  var isUpdating = false;

  function sortFloat(a,b) { return a - b; }

  var container = d3.select("div#cycif-circular").append("svg").attr("width",850).attr("height",850);

  function makeButtons(timeArray,doseArray) {
    var collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});
    timeArray.sort(collator.compare);
    doseArray.sort(sortFloat);

    timeButtons = d3.select('#option-time').selectAll('input').data(timeArray).enter().append('input').attr('type','button');
    timeButtons.attr("value", function(d) {return d;}).on("click",function(d) {d3.select('#option-time').selectAll('input').style("background-color","#AAAAAA"); d3.select(this).style("background-color","red"); updater(d);});
    timeButtons.style("background-color","#AAAAAA").style("margin","4px 2px").style("border","none").style("color","white");
    d3.select('#option-time').select('input').style("background-color","red");

    doseButtons = d3.select('#option-dose').selectAll('input').data(doseArray).enter().append('input').attr('type','button');
    doseButtons.attr("value", function(d) {return d+"μM";}).on("click",function(d) {d3.select('#option-dose').selectAll('input').style("background-color","#AAAAAA"); d3.select(this).style("background-color","red"); updater(d);});
    doseButtons.style("background-color","#AAAAAA").style("margin","4px 2px").style("border","none").style("color","white");
    d3.select('#option-dose').select('input').style("background-color","red");
  }

  function getData(callback) {
    var temp = $.getJSON("../static/data/cycif/json/"+drug+".json", function(json) {
      callback(json);
    });
  }

  function loadData() {
    getData(function(json) {
      results = json;
      if (isUpdating==false) {
        time = "24h";
        var arrayToSort = Object.keys(results[time]);
        dose = arrayToSort.sort(sortFloat)[0];
      }
      var i = 0;
      for (var molecule in results[time][dose]["cytosol"]) {
        cycif_cyt[i++] = results[time][dose]["cytosol"][molecule];
        lookup[i-1] = molecule;
      }
      i=0;
      for (var molecule in results[time][dose]["nucleus"]) {
       cycif_nuc[i++] = results[time][dose]["nucleus"][molecule];
     }
     if (isUpdating==false) {
      var j = 0;
      var timeArray = new Array(Object(results).length);
      var doseArray = new Array(Object(results[time].length));
      for (var key1 in results) {
        timeArray[j++] = key1;
      }
      j = 0;
      for (var key2 in results[time]) {
        doseArray[j++] = key2;
      }
      makeButtons(timeArray,doseArray);
    }
    renderHeatmaps();
  });
  }

  function renderHeatmaps() {

    var absmax = Math.max.apply(null,cycif_nuc.concat(cycif_cyt).map(Math.abs));
    console.log(absmax);
    var scaling = d3.scale.linear().domain([-absmax,0,absmax]).range(['blue','white','red']);

    var arcData = d3.range(21).map(function(d,i) {
      i*=2;
      return {
        startAngleOfMyArc: i * (Math.PI/21),
        endAngleOfMyArc: (i + 2) * (Math.PI/21),
        innerFill: scaling(cycif_nuc[i/2]).toString(),
        outerFill: scaling(cycif_cyt[i/2]).toString(), //assign values based on zscore
        label: lookup[i/2],
        innerLabel: "Nuclear "+lookup[i/2] + ": "+cycif_nuc[i/2],
        outerLabel: "Cytosolic "+lookup[i/2] + ": "+cycif_cyt[i/2]
      };
    });
    
    if (isUpdating===false) {

      var getAngle = function (d) {return (180 / Math.PI * (d.startAngleOfMyArc + d.endAngleOfMyArc) / 2 - 90);};

      svgContainer1 = container.append("g").attr("transform","translate(420,400)");
      var inner = svgContainer1.selectAll("path").data(arcData).enter().append("path");
      var innerArc = inner.attr('d', d3.svg.arc().innerRadius(0).outerRadius(170).startAngle(function(d) {return d.startAngleOfMyArc}).endAngle(function(d) {return d.endAngleOfMyArc}));
      var innerAttr = innerArc.attr("stroke_width",1).attr("stroke",function(d) { return d.innerFill;}).attr("fill",function(d) { return d.innerFill;});

      svgContainer2 = container.append("g").attr("transform","translate(420,400)");
      var outer = svgContainer2.selectAll("path").data(arcData).enter().append("path");
      var outerArc = outer.attr('d', d3.svg.arc().innerRadius(170).outerRadius(300).startAngle(function(d) {return d.startAngleOfMyArc}).endAngle(function(d) {return d.endAngleOfMyArc}));
      var outerAttr = outerArc.attr("stroke_width",1).attr("stroke",function(d) { return d.outerFill;}).attr("fill",function(d) { return d.outerFill;});

      var textPos = d3.svg.arc().innerRadius(280).outerRadius(480).startAngle(function (i) {return Math.PI*2/21 * i}).endAngle(function (i) {return Math.PI*2/21 * (i + 1)});
      var textContainer = svgContainer2.selectAll("text").data(arcData).enter();
      var legend = textContainer.append("text").attr("transform", function(d,i) { return "translate("+textPos.centroid(i)+") "+"rotate(" +(Math.abs(getAngle(d)) > 90 ? (getAngle(d) - 180) : getAngle(d) )+ ")";}).attr("text-anchor","middle").text(function(d) {return d.label;});

      innerAttr.append("title").text(function(d) {return d.innerLabel;});
      outerAttr.append("title").text(function(d) {return d.outerLabel;});

    }
    else {
      svgContainer1.selectAll("path").data(arcData).transition().duration(2000).attr("stroke_width",1).attr("stroke",function(d) { return d.innerFill;}).attr("fill",function(d) { return d.innerFill;});
      svgContainer2.selectAll("path").data(arcData).transition().duration(2000).attr("stroke_width",1).attr("stroke",function(d) { return d.outerFill;}).attr("fill",function(d) { return d.outerFill;});

      svgContainer1.selectAll("title").data(arcData).text(function(d) {return d.innerLabel;});
      svgContainer2.selectAll("title").data(arcData).text(function(d) {return d.outerLabel;});
    }
  }

  function updater(change) {
    if(isNaN(change)) {
      time = change;
    }
    else {
      dose = change;
/*      if (change%1 === 0) {
        console.log("IS AN INT");
        dose = change +".0";
      }*/
    }
    console.log("DOSE: "+dose);
    console.log("TIME: "+time);
    isUpdating = true;
    loadData();
    //updating("testingd3");
  }

  loadData();


</script>
</body>
</html>