<!DOCTYPE html>
<meta charset="utf-8">
<head>
</head>

<style>
  .title { 
    position: absolute;
    top: 10px;        
    /*width: 60px;          
    height: 28px;*/         
    padding: 2px;       
    font-size: 0.8em; 
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    /*border: 0px;  */  
    border-radius: 2px;     
    pointer-events: none;     
  }

</style>

<body>

  <div id="option-time"><b>Time: </b></div>
  <div id="option-dose"><b>Dose: </b></div>
  <div id="toggle"><b>Misc: </b></div>

<script src="https://d3js.org/d3.v3.min.js""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

  var time, dose, comp;
  var time1, time2;
  var results;
  var timeButtons, doseButtons;
  var svgContainer1, svgContainer2;
  var cycif_cyt = new Array(21);
  var cycif_nuc = new Array(21);
  var temp_cyt = new Array(21);
  var temp_nuc = new Array(21);
  var lookup = new Array(21);
  var isUpdating = false;
  var onlySig = false;
  var isDelta = false;

  //Sort floating point values
  function sortFloat(a,b) { return a - b; }
  var collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});

  var container = d3.select("div#cycif-circular").append("svg").attr("width",850).attr("height",850);
                                                                                               
  //Create time and dose buttons, only significant z-scores toggle                                                                                        
  function makeButtons(timeArray,doseArray) {

    timeButtons = d3.select('#option-time').selectAll('input').data(timeArray).enter().append('input').attr('type','button');
    timeButtons.attr("value", function(d) {return d;}).on("click",function(d) {d3.select('#option-time').selectAll('input').style("background-color","#AAAAAA"); d3.select(this).style("background-color","red"); updater(d);});
    timeButtons.style("background-color","#AAAAAA").style("margin","4px 2px").style("border","none").style("color","white");
    d3.select('#option-time').select('input').style("background-color","red");

    doseButtons = d3.select('#option-dose').selectAll('input').data(doseArray).enter().append('input').attr('type','button');
    doseButtons.attr("value", function(d) {return d+"μM";}).on("click",function(d) {d3.select('#option-dose').selectAll('input').style("background-color","#AAAAAA"); d3.select(this).style("background-color","red"); updater(d);});
    doseButtons.style("background-color","#AAAAAA").style("margin","4px 2px").style("border","none").style("color","white");
    d3.select('#option-dose').select('input').style("background-color","red");

    toggleButton = d3.select('#toggle').append('input').attr('type','button').style("background-color","#AAAAAA").style("margin","4px 2px").style("border","none").style("color","white");
    toggleButton.attr("value","Only |z-score|>1.3").on("click",function() {if(onlySig==false) {d3.select(this).style("background-color","red");} else{d3.select(this).style("background-color","#AAAAAA");} onlySignificant();});

  }

  function getData(callback) {
    var temp = $.getJSON("../static/data/cycif/json/"+drug+".json", function(json) {
      callback(json);
    });
  }

  function loadData() {
    getData(function(json) {
      results = json;
      
      //default values
      if (isUpdating==false) {
        time = "24h";
        var arrayToSort = Object.keys(results[time]);
        dose = arrayToSort.sort(sortFloat)[0];
      }
      
      //populate array for heatmap values
      var i = 0;
      for (var molecule in results[time][dose]["cytosol"]) {
        cycif_cyt[i] = results[time][dose]["cytosol"][molecule];
        cycif_nuc[i] = results[time][dose]["nucleus"][molecule];

        //heatmap values are difference between z-scores of different time points
        if (isDelta==true) {
            cycif_cyt[i] = results[time1][dose]["cytosol"][molecule] - cycif_cyt[i];
            cycif_nuc[i] = results[time1][dose]["nucleus"][molecule] - cycif_nuc[i];
        }

        //set segments with z-scores < 1.3 to white
        if (onlySig==true) {
          if (Math.abs(cycif_cyt[i]) < 1.3) {
            cycif_cyt[i]=0;
          }
          if (Math.abs(cycif_nuc[i]) < 1.3) {
            cycif_nuc[i]=0;
          }
        }
        lookup[i++] = molecule;
      }

     //create button names
      if (isUpdating==false) {
      var j = 0;
      var timeArray = new Array();
      var doseArray = new Array();
      for (var key1 in results) {
        timeArray[j++] = key1;
      }
      j = 0;
      for (var key2 in results[time]) {
        doseArray[j++] = key2;
      }

      timeArray.sort(collator.compare);
      timeArray[3] = timeArray[0]+"->"+timeArray[1];
      timeArray[4] = timeArray[1] + "->" + timeArray[2];
      timeArray[5] = timeArray[0] + "->" + timeArray[2];
      doseArray.sort(sortFloat);

      makeButtons(timeArray,doseArray);
    }
    renderHeatmaps();
  });
  }

  //create circular heatmaps with D3.js
  function renderHeatmaps() {

    var absmax = Math.max.apply(null,cycif_nuc.concat(cycif_cyt).map(Math.abs));
/*    console.log(absmax);*/
    var scaling = d3.scale.linear().domain([-absmax,0,absmax]).range(['blue','white','red']);

    //Data for binding to DOM elements
    var arcData = d3.range(21).map(function(d,i) {
      i*=2;
      return {
        startingAngle: i * (Math.PI/21),
        endingAngle: (i + 2) * (Math.PI/21),
        innerFill: scaling(cycif_nuc[i/2]).toString(),
        outerFill: scaling(cycif_cyt[i/2]).toString(), //assign values based on zscore
        label: lookup[i/2],
        innerLabel: "Nuclear "+lookup[i/2] + ": "+cycif_nuc[i/2],
        outerLabel: "Cytosolic "+lookup[i/2] + ": "+cycif_cyt[i/2]
      };
    });
    
    //Default settings of heatmap
    if (isUpdating===false) {

      var getAngle = function (d) {return (180 / Math.PI * (d.startingAngle + d.endingAngle) / 2 - 90);};

      svgContainer1 = container.append("g").attr("transform","translate(420,400)");
      var inner = svgContainer1.selectAll("path").data(arcData).enter().append("path");
      var innerArc = inner.attr('d', d3.svg.arc().innerRadius(0).outerRadius(170).startAngle(function(d) {return d.startingAngle}).endAngle(function(d) {return d.endingAngle}));
      var innerAttr = innerArc.attr("stroke_width",1).attr("stroke",function(d) { return d.innerFill;}).attr("fill",function(d) { return d.innerFill;});

      svgContainer2 = container.append("g").attr("transform","translate(420,400)");
      var outer = svgContainer2.selectAll("path").data(arcData).enter().append("path");
      var outerArc = outer.attr('d', d3.svg.arc().innerRadius(170).outerRadius(300).startAngle(function(d) {return d.startingAngle}).endAngle(function(d) {return d.endingAngle}));
      var outerAttr = outerArc.attr("stroke_width",1).attr("stroke",function(d) { return d.outerFill;}).attr("fill",function(d) { return d.outerFill;});

      var textPos = d3.svg.arc().innerRadius(280).outerRadius(480).startAngle(function (i) {return Math.PI*2/21 * i}).endAngle(function (i) {return Math.PI*2/21 * (i + 1)});
      var textContainer = svgContainer2.selectAll("text").data(arcData).enter();
      var legend = textContainer.append("text").attr("transform", function(d,i) { return "translate("+textPos.centroid(i)+") "+"rotate(" +(Math.abs(getAngle(d)) > 90 ? (getAngle(d) - 180) : getAngle(d) )+ ")";}).attr("text-anchor","middle").text(function(d) {return d.label;});

      innerAttr.append("title").text(function(d) {return d.innerLabel;});
      outerAttr.append("title").text(function(d) {return d.outerLabel;});

      textContainer.append("text").attr("x","-400").attr("y","440").text("* indicates phosphorylation states of ERK-1(pT202;pY204);ERK-1(pT202);ERK-2(pT185;pY187);ERK-2(pT185)");

      makeNotes();

    }
    //transition when updating heatmap
    else {
      svgContainer1.selectAll("path").data(arcData).transition().duration(2000).attr("stroke_width",1).attr("stroke",function(d) { return d.innerFill;}).attr("fill",function(d) { return d.innerFill;});
      svgContainer2.selectAll("path").data(arcData).transition().duration(2000).attr("stroke_width",1).attr("stroke",function(d) { return d.outerFill;}).attr("fill",function(d) { return d.outerFill;});

      svgContainer1.selectAll("title").data(arcData).text(function(d) {return d.innerLabel;});
      svgContainer2.selectAll("title").data(arcData).text(function(d) {return d.outerLabel;});
    }
  }

  //create heatmap legend
  function makeNotes() {
    container.append("svg:circle").attr("cx","70").attr("cy","70").attr("r","70").attr("stroke","black").attr("fill","none");
    container.append("svg:circle").attr("cx","70").attr("cy","70").attr("r","35").attr("stroke","black").attr("fill","none");
    container.append("text").attr("x","45").attr("y","70").text("nucleus");
    container.append("text").attr("x","45").attr("y","30").text("cytosol");
  }

  //change heatmap parameters when different buttons are selected
  function updater(change) {
    if(isNaN(change)) {
      if (change.split("->").length>1) {
        time = change.split("->")[0];
        time1 = change.split("->")[1];
        isDelta = true;
      }
      else {
        isDelta = false;
        time = change;
      }
    }
    else {
      dose = change;
/*      if (change%1 === 0) {
        console.log("IS AN INT");
        dose = change +".0";
      }*/
    }
/*    console.log("DOSE: "+dose);
    console.log("TIME: "+time);*/
    isUpdating = true;
    loadData();
  }

  function onlySignificant() {
    onlySig = !onlySig;
    isUpdating=true;
    loadData();
  }

  loadData();


</script>
</body>
</html>
