<div id="cycif-parameters">
  {% with assay="CycIF", time=['24h', '48h', '72h'], default_time="24h"%}
    {% include "partials/time-toggle.html" %}
  {% endwith %}
</div>

<!-- {% for t in time %}
  <div id="{{assay.lower()}}-{{t}}" style="display:{{"block" if t == default_time else "none"}};"><span id="{{assay.lower()}}-{{t}}-loading">Loading Clustergrammer</span></div>
{% endfor %} -->
<div id="cycif-clustergrammer-container"></div>

<div class="download-table">
  <a id="cycif-clustergrammer-download" href="../static/data/{{assay.lower()}}/values/CycIF_{{drug}}_{{default_time}}.tsv">download {{assay}} metrics</a>
</div>

<div id="cycif-circular">{% include "partials/cycif-circular.html" %}</div>
