<div id="l1000cds2-parameters" style="margin-bottom: 5px;">
  {% with assay="L1000CDS2", time=['3h', '24h'], default_time="3h"%}
    {% include "partials/time-toggle.html" %}
  {% endwith %}
  <span style="font-size: 0.9em;"><b>Dose:</b></span>
  <select id="dose-dropdown">
  </select>
</div>
<!-- <iframe id="l1000-cds2" src="http://amp.pharm.mssm.edu/L1000CDS2/#/result/57c866574760621c0177c6c5" height="830" frameBorder="0"></iframe> -->
<iframe id="l1000-cds2" height="830" frameBorder="0"></iframe>